{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "error"
  },
  "env": {
    "mocha": true
  },
  "overrides": [
    {
      "files": [
        "test/**/*.ts"
      ],
      "rules": {
        "no-console": "off",
        "no-unused-expressions": "off",
        "no-plusplus": "off",
        "no-param-reassing": "off",
        "class-methods-use-this": "off",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
